<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Guardian page</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
    	href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900}" 
    	href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" 
    	rel="stylesheet" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i}" 
    	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    	rel="stylesheet" />
    <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}"
    	href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link th:href="@{vendor/devicons/css/devicons.min.css}"
    	href="vendor/devicons/css/devicons.min.css" rel="stylesheet" />
    <link th:href="@{vendor/simple-line-icons/css/simple-line-icons.css}"
    	href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{css/resume.min.css}"
    	href="css/resume.min.css" rel="stylesheet" />

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Start Bootstrap</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="" />
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Personal info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Classrooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/teacher/refresh">Refresh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0" th:text="${guardian.firstName} + ' ' + ${guardian.lastName}">
            <span class="text-primary"></span>
          </h1>
          <p class="mb-5" th:text="${guardian.comment}"></p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Kids</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <table class="table">
              <thead>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Group</th>
                <th>Comment</th>
              </thead>
              <tbody>
              <tr th:each="kid : ${guardian.kids}">
                <td th:text = "${kid.id}"></td>
                <td th:text = "${kid.firstName}"></td>
                <td th:text = "${kid.lastName}"></td>
                <td th:text = "${kid.dateOfBirth}"></td>
                <td th:text = "${kid.group.name}"></td>
                <td th:text = "${kid.comment}"></td>
               </tr>
              </tbody>
            </table>
          </div>


        </div>

      </section>

      
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Account</h2>

          <table class="table">
            <thead>
              <th>Id</th>
              <th>Balance</th>
              <th>Last payment</th>
              <th>Comment</th>
            </thead>
            <tbody>
              <tr>
                <td th:text = "${guardian.account.id}"></td>
                <td th:text = "${guardian.account.balance}"></td>
                <td th:text = "${guardian.account.lastPayment}"></td>
                <td th:text = "${guardian.account.comment}"></td>
              </tr>
            </tbody>
          </table>
          </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Payments</h2>
          <table class="table">
            <thead>
              <th>Id</th>
              <th>Account</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Comment</th>
            </thead>
            <tbody>
              <tr th:each = "payment : ${guardian.account.payments}">
                <td th:text = "${payment.id}"></td>
                <td th:text = "${payment.account.id}"></td>
                <td th:text = "${payment.amount}"></td>
                <td th:text = "${payment.date}"></td>
                <td th:text = "${payment.comment}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
